body {
  background-color: lightblue;
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.score {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}

.btn {
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid black;
}

.btn:active{
  opacity: 0.8;
}

.btn#annulla:hover {
  color: red;
  border: 1px solid red;
}

.btn#gioca:hover {
  color: blue;
  border: 1px solid blue;
}





/* classi js */
.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.green {
  color: rgb(92, 240, 92);
}
